fastapi==0.95.2
uvicorn[standard]==0.22.0
sqlalchemy==1.4.49
pydantic==1.10.12
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sentence-transformers==2.2.2
cloudinary==1.32.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
