fastapi
uvicorn[standard]
pydantic
python-dotenv
pymongo
numpy
scikit-learn
faiss-cpu==1.13.2
langchain
langchain-community
psycopg2-binary

# JWT fix
python-jose[cryptography]

# Fix torch issue (IMPORTANT)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
torchvision==0.15.2+cpu
sentence-transformers
